<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CMS - Vojtěch Habeš</title>
  </head>
  <body>
    <h1>Vítejte, <%= user.username %></h1>

    <a href="/admin/settings">Nastavení</a>
  </body>
</html>
