<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CMS - Vojtěch Habeš</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/admin/css/style.css" />
  </head>
  <body>
    <main class="box">
      <h1>CMS</h1>
      <section>
        <h2>Přihlášení</h2>
        <form>
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Uživatelské jméno"
          />
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Heslo"
          />
          <button type="submit" class="normal">
            <i class="material-symbols-rounded">login</i>
            Přihlásit se
          </button>
        </form>
      </section>
    </main>

    <script src="/admin/js/notifications.js"></script>
    <script>
      const form = document.querySelector("form");

      form.addEventListener("submit", async (event) => {
        event.preventDefault();

        const username = document.querySelector("#username").value;
        const password = document.querySelector("#password").value;

        const response = await fetch("/api/auth/login", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ username, password }),
        });
        const data = await response.json();

        if (!response.ok) {
          switch (data.code) {
            case "incorrect-credentials":
              createNotification("Nesprávné přihlašovací údaje", "error");
              break;
            case "server-error":
              createNotification("Nastala chyba na serveru", "error");
              break;
            default:
              createNotification("Nastala neznámá chyba", "error");
              break;
          }
          return;
        }

        window.location.href = "/admin";
      });
    </script>
  </body>
</html>
