<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CMS - Vojtěch Habeš</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/admin/css/style.css" />
  </head>
  <body>
    <main class="box">
      <h1>Nastavení</h1>

      <section>
        <h2>Změna hesla</h2>
        <p>
          Změna hesla je důležitá pro zabezpečení vašeho účtu. Zadejte staré a
          nové heslo a stiskněte tlačítko pro změnu hesla.
        </p>
        <form id="changePassword">
          <input
            type="password"
            id="oldPassword"
            name="oldPassword"
            placeholder="Staré heslo"
          />
          <input
            type="password"
            id="newPassword"
            name="newPassword"
            placeholder="Nové heslo"
          />
          <button type="submit" class="normal">
            <i class="material-symbols-rounded">done</i>
            Změnit heslo
          </button>
        </form>
      </section>

      <section>
        <h2>Odhlášení</h2>
        <p>
          Pokud se chcete odhlásit, stiskněte tlačítko níže. Budete přesměrováni
          na přihlašovací stránku.
        </p>
        <button id="logout" class="normal">
          <i class="material-symbols-rounded">logout</i>
          Odhlásit se
        </button>
      </section>
      <a href="/admin" class="back">
        <i class="material-symbols-rounded">arrow_back</i>
        Zpět
      </a>
    </main>

    <script>
      const logoutButton = document.querySelector("#logout");

      logoutButton.addEventListener("click", async () => {
        const response = await fetch("/api/auth/logout", {
          method: "POST",
        });

        if (response.ok) {
          window.location.href = "/admin/login";
        }
      });

      const form = document.querySelector("#changePassword");

      form.addEventListener("submit", async (event) => {
        event.preventDefault();

        const password = document.querySelector("#oldPassword").value;
        const newPassword = document.querySelector("#newPassword").value;

        const response = await fetch("/api/auth/password", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ password, newPassword }),
        });

        if (!response.ok) {
          const data = await response.json();

          switch (data.code) {
            case "incorrect-password":
              alert("Nesprávné staré heslo");
              break;
            case "server-error":
              alert("Nastala chyba na serveru");
              break;
            default:
              alert("Nastala neznámá chyba");
              break;
          }
          return;
        }

        alert("Heslo bylo změněno. Prosím, přihlašte se znovu.");
        window.location.href = "/admin/login";
      });
    </script>
  </body>
</html>
