<header class="navigation-header">
  <nav>
    <ul>
      <li class="<%= currentPage === '/' ? 'active' : '' %>">
        <a href="/">Vojtěch Habeš</a>
      </li>
      <li class="<%= currentPage === '/about' ? 'active' : '' %>">
        <a href="/about">Kdo jsem</a>
      </li>
      <li class="<%= currentPage === '/projects' ? 'active' : '' %>">
        <a href="/projects">Mé projekty</a>
      </li>
      <li>
        <a href="/#contact">Spojme se</a>
      </li>
    </ul>
  </nav>

  <section class="social-media">
    <a href="https://instagram.com/vojtechhabes" target="_blank">
      <img src="/images/icons/instagram.svg" alt="Instagram" />
    </a>
    <a href="https://github.com/vojtechhabes" target="_blank">
      <img src="/images/icons/github.svg" alt="GitHub" />
    </a>
  </section>
</header>

<button class="menu-button">
  <div></div>
  <div></div>
  <div></div>
</button>
