<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta
  name="description"
  content="Jsem Vojtěch Habeš a toto je můj osobní web. Zde najdete informace o mně, mých projektech a další zajímavosti."
/>
<meta
  name="keywords"
  content="Vojtěch Habeš, Vojtěch, Habeš, programátor,
vývojář, web, webový vývoj, webdesign, design, programování, JavaScript, HTML,
CSS, Node.js, portfolio, osobní web, JS"
/>
<meta name="author" content="Vojtěch Habeš" />
<meta property="og:title" content="<%= title %>" />
<meta property="og:type" content="website" />
<meta property="og:url" content="<%= url %>" />
<meta
  property="og:image"
  content="https://vojtechhabes.dev.infinityframe.eu/images/me.jpg"
/>
<meta
  property="og:description"
  content="Jsem Vojtěch Habeš a toto je můj osobní web. Zde najdete informace o mně, mých projektech a další zajímavosti."
/>

<title><%= title %></title>

<link rel="stylesheet" href="/css/reset.css" />
<link rel="stylesheet" href="/css/style.css" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap"
  rel="stylesheet"
/>

<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/images/favicons/apple-touch-icon.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="/images/favicons/favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="/images/favicons/favicon-16x16.png"
/>
<link rel="manifest" href="/images/favicons/site.webmanifest" />
<link rel="shortcut icon" href="/images/favicons/favicon.ico" />
<meta name="apple-mobile-web-app-title" content="Vojtěch Habe&scaron;" />
<meta name="application-name" content="Vojtěch Habe&scaron;" />
<meta name="msapplication-TileColor" content="#b5d438" />
<meta
  name="msapplication-config"
  content="/images/favicons/browserconfig.xml"
/>
<meta name="theme-color" content="#ffffff" />

<script src="/js/textAreaResize.js" defer></script>
<script src="/js/highlightAnimation.js" defer></script>
<script src="/js/imageParallax.js" defer></script>
<script src="/js/menuToggle.js" defer></script>

<meta name="theme-color" content="#b5d438" />
