<header class="navigation-header">
  <nav>
    <ul>
      <li class="<%= currentPage === '/' ? 'active' : '' %>">
        <a href="/">Vojtěch Habeš</a>
      </li>
      <li class="<%= currentPage === '/about' ? 'active' : '' %>">
        <a href="/about">Kdo jsem</a>
      </li>
      <li class="<%= currentPage === '/projects' ? 'active' : '' %>">
        <a href="/projects">Mé projekty</a>
      </li>
      <li class="<%= currentPage === '/contact' ? 'active' : '' %>">
        <a href="/contact">Spojme se</a>
      </li>
    </ul>
  </nav>
</header>

<button class="menu-button">
  <div></div>
  <div></div>
  <div></div>
</button>
