<header class="title-section">
  <img src="<%- image %>" alt="<%- title %>" />
  <section class="text">
    <h1><%-title%></h1>
    <p class="title-description"><%-description%></p>
  </section>
</header>
