html {
  font-size: min(2.5vw, 16px);
}

body {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: auto;
  min-height: 100vh;
  padding: 1.5rem;
  box-sizing: border-box;
  gap: 1.5rem;
  background-color: #f0f0f0;
  font-family: "DM Sans", sans-serif;
}

body > section {
  background-color: #ffffff;
  border-radius: 2rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body > section.projects {
  gap: 1.5rem;
}

body > section.projects > .projectsList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

body > section.projects > .projectsList article {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 1rem;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: transform 0.3s, outline 0.3s;
  outline: 2px solid transparent;
}

body > section.projects > .projectsList article:hover {
  transform: scale(1.05);
}

body > section.projects > .projectsList article:active {
  transform: scale(1);
}

body > section.projects > .projectsList article.active {
  outline: 2px solid #000000;
}

h2 {
  font-size: 2.2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.4rem;
  font-weight: 600;
}
