<!DOCTYPE html>
<html lang="cs">
  <head>
    <%-include("./partials/head", { title: "Vojtěch Habeš" })%>
  </head>
  <body>
    <%-include("./partials/header", { currentPage: "/about" })%>

    <header class="title-section">
      <img src="/images/drums.jpg" alt="Vojtěch Habeš" />
      <section class="text">
        <h1>Kdo jsem</h1>
        <p class="title-description">Objevte můj příběh</p>
      </section>
    </header>

    <main>
      <article class="primary">
        <main>
          <section class="content">
            <h2>Pojďme se <span class="highlight">seznámit</span>.</h2>
            <p>
              Jmenuji se Vojtěch Habeš a jsem frontend developer. Kromě toho se
              ale také zajímám i o UI/UX design a v současné době studuji obor
              informační technologie na Smíchovské střední průmyslové škole a
              gymnáziu.
            </p>
          </section>
          <section class="action">
            <a href="/projects" class="button big secondary"
              >Co jsem vytvořil</a
            >
          </section>
        </main>
      </article>

      <article class="secondary">
        <main>
          <section class="content">
            <h2>S čím mám <span class="highlight">zkušenosti</span>?</h2>
            <p>
              Mým hlavním zaměřením je frontend vývoj, ale také se věnuji
              backendu a databázím. Nejraději mám práci s Reactem a Vue, ale
              také se vyznám v Node.js a Express.js. V oblasti designu používám
              program Figma, ve kterém znázorňuji své nápady a návrhy.
            </p>
            <section class="skills">
              <ul>
                <li>
                  <article>
                    <img src="/images/icons/html.svg" alt="HTML5" />
                    <h3>HTML5</h3>
                  </article>
                </li>
                <li>
                  <article>
                    <img src="/images/icons/css.svg" alt="CSS3" />
                    <h3>CSS3</h3>
                  </article>
                </li>
                <li>
                  <article>
                    <img src="/images/icons/js.svg" alt="JavaScript" />
                    <h3>JavaScript</h3>
                  </article>
                </li>
                <li>
                  <article>
                    <img src="/images/icons/react.svg" alt="React" />
                    <h3>React</h3>
                  </article>
                </li>
                <li>
                  <article>
                    <img src="/images/icons/git.svg" alt="Git" />
                    <h3>Git</h3>
                  </article>
                </li>
                <li>
                  <article>
                    <img src="/images/icons/arduino.svg" alt="Arduino" />
                    <h3>Arduino</h3>
                  </article>
                </li>
                <li>
                  <article>
                    <img src="/images/icons/figma.svg" alt="Figma" />
                    <h3>Figma</h3>
                  </article>
                </li>
                <li>
                  <article>
                    <img src="/images/icons/vue.svg" alt="Vue" />
                    <h3>Vue</h3>
                  </article>
                </li>
                <li>
                  <article>
                    <img src="/images/icons/vite.svg" alt="Vite" />
                    <h3>Vite</h3>
                  </article>
                </li>
                <li>
                  <article>
                    <img src="/images/icons/postgresql.svg" alt="PostgreSQL" />
                    <h3>PostgreSQL</h3>
                  </article>
                </li>
                <li>
                  <article>
                    <img src="/images/icons/nodejs.svg" alt="Node.js" />
                    <h3>Node.js</h3>
                  </article>
                </li>
                <li>
                  <article>
                    <img src="/images/icons/express.svg" alt="Express.js" />
                    <h3>Express.js</h3>
                  </article>
                </li>
                <li>
                  <article>
                    <img src="/images/icons/mongodb.svg" alt="MongoDB" />
                    <h3>MongoDB</h3>
                  </article>
                </li>
                <li>
                  <article>
                    <img src="/images/icons/firebase.svg" alt="Firebase" />
                    <h3>Firebase</h3>
                  </article>
                </li>
              </ul>
            </section>
          </section>
        </main>
      </article>

      <article class="primary">
        <main>
          <section class="content">
            <h2>Kde právě <span class="highlight">studuji</span>?</h2>
            <p>
              V současné době studuji obor informační technologie na Smíchovské
              střední průmyslové škole a gymnáziu. Předtím jsem navštěvoval ZŠ a
              MŠ J. A. Komenského v Novém Strašecí.
            </p>
            <section class="list">
              <ul>
                <li>
                  <article>
                    <h3>ZŠ J. A. Komenského v Novém Strašecí</h3>
                    <p class="text-dim">2013 - 2022</p>
                  </article>
                </li>
                <li>
                  <article>
                    <h3>Smíchovská střední průmyslová škola</h3>
                    <p class="text-dim">2022 - dosud</p>
                  </article>
                </li>
              </ul>
            </section>
          </section>
        </main>
      </article>

      <article class="secondary">
        <main>
          <section class="content">
            <h2>Co jsem již <span class="highlight">zažil</span>?</h2>
            <p>
              Vím, že jsem teprve na začátku své cesty, ale i přes to jsem již
              zažil i několik cenných pracovních zkušeností.
            </p>

            <section class="list columns">
              <ul>
                <li>
                  <article>
                    <div>
                      <h3>CTO</h3>
                      <p>WaveTag</p>
                      <p class="text-dim">2023 - dosud</p>
                    </div>
                    <p>
                      Jako programátor a designér ve společnosti WaveTag se
                      specializuji na vývoj a design webových aplikací a dalších
                      potřebných systémů.
                    </p>
                  </article>
                </li>
                <li>
                  <article>
                    <div>
                      <h3>Učitel</h3>
                      <p>ZŠ a MŠ J. A. Komenského v Novém Strašecí</p>
                      <p class="text-dim">2023 - dosud</p>
                    </div>
                    <p>
                      Jsem učitel informatiky na základní škole, kde předávám
                      žákům své dovednosti v oblasti programování. V této práci
                      rozvíjím nejen technické schopnosti žáků, ale také se učím
                      spolupracovat s lidmi a předávat své dovednosti.
                    </p>
                  </article>
                </li>
                <li>
                  <article>
                    <div>
                      <h3>Fotograf</h3>
                      <p>Smíchovská střední průmyslová škola</p>
                      <p class="text-dim">2023 - dosud</p>
                    </div>
                    <p>
                      Jako fotograf se pohybuji v centru nejrůznějších akcí a
                      událostí, které zachycuji. Fotografie následně vylepšuji a
                      upravuji v profesionálních programech.
                    </p>
                  </article>
                </li>
                <li>
                  <article>
                    <div>
                      <h3>Učitel</h3>
                      <p>Kroužek programování</p>
                      <p class="text-dim">2021 - 2023</p>
                    </div>
                    <p>
                      Na kroužku programování jsem měl jedinečnou příležitost
                      předávat dětem své znalosti a dovednosti z oblasti
                      programování a robotiky. Těší mě, že jsem mohl inspirovat
                      a motivovat mladé žáky k objevování světa technologií a
                      rozvíjet jejich kreativitu a logické myšlení.
                    </p>
                  </article>
                </li>
              </ul>
            </section>
          </section>
        </main>
      </article>

      <article class="primary">
        <main>
          <section class="content">
            <h2>Můj <span class="highlight">rozmanitý</span> svět.</h2>
            <p>
              Můj volný čas nevěnuji pouze vývoji a designu, ale jsem aktivní i
              v oblasti hudby. Hraji totiž jiš od svých 7 let na bicí a v
              současné době jsem členem kapely v naší škole.
            </p>

            <p>
              Kromě hudby se také věnuji občasnému editování videí a cestování.
              Rád objevuji nová místa po světě a mým velkým snem je navštívit
              Grónsko.
            </p>
          </section>
        </main>
      </article>
    </main>

    <%-include("./partials/footer")%>
  </body>
</html>
