<!DOCTYPE html>
<html lang="cs">
  <head>
    <%-include("./partials/head", { title: "Chyba - Vojtěch Habeš" })%>
  </head>
  <body>
    <%-include("./partials/header", { currentPage: null })%>

    <main>
      <article class="error">
        <div>
          <h2>Nastala chyba :(</h2>
          <p>
            Omlouvám se, ale nastala nečekaná chyba. Zkuste to prosím později.
          </p>
        </div>
      </article>
    </main>
  </body>
</html>
