<!DOCTYPE html>
<html lang="cs">
  <head>
    <%-include("./partials/head", { title: "Vojtěch Habeš" })%>
  </head>
  <body>
    <%-include("./partials/titleSection", { title: "Vojtěch<br />Habeš",
    description: "Webový vývojář<br />UI/UX designér", image: "/images/ja.JPG"
    })%>

    <main>
      <article class="primary">
        <main>
          <section class="content">
            <h2>
              Z řádků kódu dělám
              <span class="highlight">úchvatné</span> podívané.
            </h2>
            <p>
              Nezajímá mě jenom vývoj, ale i UI/UX design. Díky schopnosti
              spojit tyto dovednosti dokážu vytvářet produkty, které nejen
              ohromí, ale jsou také uživatelsky přívětivé.
            </p>
          </section>
          <section class="action">
            <a href="/portfolio" class="button big secondary"
              >Všechny projekty</a
            >
          </section>
        </main>
      </article>
    </main>
  </body>
</html>
