<!DOCTYPE html>
<html lang="cs">
  <head>
    <%-include("./partials/head", { title: "Vojtěch Habeš" })%>
  </head>
  <body>
    <%-include("./partials/titleSection", { title: "Vojtěch Habeš", description:
    "Webový vývojář<br />UI/UX designér", image:
    "https://upload.wikimedia.org/wikipedia/commons/b/bf/Bucephala-albeola-010.jpg"
    })%>
  </body>
</html>
