<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vojtěch Habeš</title>
  </head>
  <body>
    <h1><%= title %></h1>
  </body>
</html>
