:root {
  --primary-color: #b5d438;
  --background-color: #0a0a0a;
  --on-background-color: #ffffff;
  --on-background-color-dim: #ffffff80;
  --background-color-dim: #0a0a0a80;
}

html {
  font-size: min(1.9vw, 22px);
}

body {
  font-family: "Bricolage Grotesque", sans-serif;
  background-color: var(--background-color);
  color: var(--on-background-color);
}

/* Skills */

.skills {
  margin-top: 2rem;
}

.skills > ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(3.5rem, 1fr));
  gap: 4rem;
}

.skills article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.skills article > h3 {
  font-size: 1.4rem;
  font-weight: 300;
}

.skills article > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

article.secondary .skills article > img {
  filter: invert(1);
}

/* Navigation */

.navigation-header {
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  right: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  z-index: 1000;
  background-color: var(--background-color);
  border-radius: 100px;
  border: 0.1rem solid var(--on-background-color);
  max-width: 1800px;
  margin: 0 auto;
}

.navigation-header nav > ul {
  display: flex;
  gap: 1.5rem;
}

.navigation-header nav > ul > li > a {
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--on-background-color);
  transition: color 0.3s;
}

.navigation-header nav > ul > li > a:hover {
  color: var(--primary-color);
}

.navigation-header nav > ul > li.active > a {
  color: var(--primary-color);
}

.navigation-header nav > ul > li.active > a:hover {
  color: var(--on-background-color);
}

/* Layout */

.title-section {
  display: grid;
  grid-template-columns: 40% 60%;
  min-height: 100vh;
  height: auto;
}

.title-section > .image > img {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  object-fit: cover;
}

.title-section > .image {
  overflow: hidden;
}

.title-section > .text {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  padding: 2rem;
  gap: 2rem;
}

body > main > article.primary {
  background-color: var(--primary-color);
  color: var(--background-color);
}

body > main > article > main > .content > img {
  width: 100%;
  height: 100%;
  max-height: 500px;
  max-width: 500px;
  object-fit: cover;
}

body > main > article.secondary {
  background-color: var(--background-color);
  color: var(--on-background-color);
}

body > main > article {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

body > main > article > main {
  max-width: 1300px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: min-content min-content;
  row-gap: 2rem;
}

body > main > article > main > .content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

body > main > article > main > .action {
  display: flex;
  align-items: flex-end;
  grid-column: 2;
  grid-row: 2;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--background-color-dim);
  color: var(--on-background-color-dim);
}

footer > main {
  max-width: 1300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

/* List */

.list a > article:hover {
  border-bottom: 0.1rem solid var(--on-background-color);
  padding-left: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
}

.list.columns article {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}

.list.columns article > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.list article {
  gap: 0.5rem;
  padding: 2rem 0;
  border-bottom: 0.1rem solid var(--on-background-color-dim);
  color: var(--on-background-color);
  transition: border-bottom 0.3s, padding-left 0.3s;
}

article.primary .list article {
  border-bottom: 0.1rem solid var(--background-color-dim);
  color: var(--background-color);
}

article.secondary .list article h3 {
  color: var(--primary-color);
}

.list:not(.columns) article {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Texts */

h1 {
  font-size: 8rem;
  font-weight: 300;
  color: var(--primary-color);
  line-height: 0.9;
}

p {
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 1.2;
}

label {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2;
}

h2 {
  font-size: 4rem;
  font-weight: 300;
  line-height: 1;
}

h3 {
  font-size: 2.8rem;
  font-weight: 300;
  line-height: 1;
}

.title-description {
  font-size: 2.8rem;
  font-weight: 200;
}

.highlight {
  position: relative;
}

.highlight::after {
  display: block;
  background: var(--on-background-color);
  height: 0.25rem;
  transition: all 0.5s ease-in-out;
  content: "";
  position: absolute;
  bottom: 0.4rem;
  left: 0;
  right: 0;
  width: 0;
  transition: width 1.5s;
}

.highlight.active::after {
  width: 100%;
}

article.primary .highlight::after {
  background: var(--background-color);
}

.text-dim {
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 1.2;
  color: var(--on-background-color-dim);
  transition: color 0.3s;
}

a.text-dim:hover {
  color: var(--on-background-color);
}

article.primary .text-dim {
  color: var(--background-color-dim);
}

article.primary a.text-dim:hover {
  color: var(--background-color);
}

a {
  text-decoration: none;
}

/* Forms */

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

form > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form input {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2;
  padding: 0.5rem 0;
  border: none;
  border-bottom: 0.1rem solid var(--on-background-color-dim);
  background-color: transparent;
  outline: none;
  transition: border-bottom 0.3s, padding-left 0.3s;
}

form input:focus {
  border-bottom: 0.1rem solid var(--on-background-color);
  padding-left: 1rem;
}

form input::placeholder {
  color: var(--on-background-color-dim);
}

article.primary form input {
  border-bottom: 0.1rem solid var(--background-color-dim);
}

article.primary form input:focus {
  border-bottom: 0.1rem solid var(--background-color);
}

article.primary form input::placeholder {
  color: var(--background-color-dim);
}

form textarea {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2;
  padding: 0.5rem 0;
  border: none;
  border-bottom: 0.1rem solid var(--on-background-color-dim);
  background-color: transparent;
  outline: none;
  display: block;
  width: 100%;
  resize: none;
  overflow: hidden;
  transition: border-bottom 0.3s, padding-left 0.3s, width 0.3s;
}

form textarea:focus {
  border-bottom: 0.1rem solid var(--on-background-color);
  padding-left: 1rem;
  width: calc(100% - 1rem);
}

form textarea::placeholder {
  color: var(--on-background-color-dim);
}

article.primary form textarea {
  border-bottom: 0.1rem solid var(--background-color-dim);
}

article.primary form textarea:focus {
  border-bottom: 0.1rem solid var(--background-color);
}

article.primary form textarea::placeholder {
  color: var(--background-color-dim);
}

/* Buttons */

button {
  font-family: "Bricolage Grotesque", sans-serif;
}

.button {
  text-decoration: none;
  display: flex;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
}

.button.big {
  border-radius: 100%;
  width: 10rem;
  height: 10rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2;
  transition: transform 0.3s;
}

.button.big:hover {
  transform: scale(1.1);
}

.button.primary {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.button.secondary {
  background-color: var(--background-color);
  color: var(--primary-color);
}
